# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
xcuserdata/

playground.xcworkspace

Packages/
Package.pins
Package.resolved
.xcodeproj
.swiftpm
.build/
*.xcworkspace


Carthage/Build/
Dependencies/
.accio/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
